#header .navbar-nav a {
  /* color: blue; */
  font-weight: bold;
}
.custom-backroud-color-contaner {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Change the alpha (last) value to adjust opacity */

  color: white;
}
.custom-backroud-color-contaner h4,
.custom-backroud-color-contaner h3 {
  color: white; /* Set text color to white */
}

/* about */
.rounded-image {
  border-radius: 350px; /* You can adjust the value to control the roundness */
  padding: 3px; /* Set the gap width */
  border: 5px solid #000;
}

/* #header .navbar-nav a:hover {
    color: red;
} */

/* Dark Mode Styles */
.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
